certifi==2018.1.18
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-Script==2.0.6
Flask-WTF==0.14.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jsonpickle==0.9.6
MarkupSafe==1.0
nltk==3.2.5
oauthlib==2.0.6
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
tweepy==3.5.0
urllib3==1.22
urlopen==1.0.0
Werkzeug==0.12.2
WTForms==2.1
